body {
	/* background:#000; */
	background-image:url(../imgs/Status-Board_BKG1_1080.jpeg);
	color:#fff;
}

.container {
	max-width:98%;
}

.col-lg-3 {
	border:2px #fff solid;
	border-radius:6px;
	min-height:660px;
	/*gradient styles*/
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#2f2f2f),color-stop(.5,#1e1f1f),color-stop(.51,#0c0c0c),to(#000));
	background:-moz-linear-gradient(top,#2f2f2f,#1e1f1f 50%,#0c0c0c 51%,#000);
	font-size:1.8em;
}

.carousel-caption {
	position:static!important;
/*max-width: 550px;
	padding: 0 20px;
	margin:0 auto;
	margin-top: -300px; 
	text-align:center; */
	background-color:rgba(0,0,0,0.8);
	padding:5px;
}

/* Status Board Date */
#wthn-date {
	text-align:center;
	margin:40px 0;
	color:orange;
}

/* wtnh-welcome-widget */
#wtnh-welcome-message {
	font-size:3.7em;
	text-align:center;
	min-height:176px;
	max-height:176px;
/* border: 1px green solid; */
	font-weight:700;
}

/* Brirthdays / Ann  and TV Schedule*/
#wtnh-birthday-calendar h2 {
/* color:orange; */
}

#wtnh-birthday-calendar .station-ann {
	color:orange;
}

#wtnh-birthday-calendar .id {
/* color: red; */
	display:orange;
	margin:0;
}

/* Google Calendar */
#wtnh-google-calendar {
	text-align:left;
	margin-bottom:10px;
}

.cal-event {
	padding-bottom:30px;
}

.cal-event .title {
	color:orange;
	display:block;
}

/* carousel-wtnh-photos */
#carousel-wtnh-photos {
	margin:0 auto;
}

#carousel-wtnh-photos img {
	margin:0 auto;
	max-height:480px;
}

div#footer {
	position: relative;
	top: 26px;
}

div#footer .container  {
	max-width: 200%;
	padding: 0px;
	margin: 0;
}

div#marquee {
	height: 5%;
	font-size: 1.5em;
	overflow: hidden;
	margin-top: 30px;
	background-color: #FFF;
	color: #000;
	line-height: 2.4;
	/* padding: 10px; */
}