body {
	/* background:#000; */
	background-image: url('../imgs/Status-Board_BKG1_720.jpg');
	color:#fff;
}

.container {
	max-width:98%;
}


/* .col-lg-4 {border: 1px red solid; background-color: grey; margin; 10px;} */

.col-lg-5, .col-lg-4, .col-lg-3 {
	/* padding: .5em; */
	color:#fff;
	text-shadow:1px 1px 1px #000;
	/*
	border: solid thin #882d13;
	
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	
	-webkit-box-shadow: 2px 2px 3px #999; 
	
	box-shadow: 2px 2px 2px #bbb;
	background-color: #ce401c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
	*/
}


.col-lg-3 {
	border: 2px white solid;
	border-radius: 6px;
	min-height: 450px;
	
	
	/*gradient styles*/ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f2f2f), color-stop(.5, #1e1f1f), color-stop(.51, #0c0c0c), to(#000)); 
    background: -moz-linear-gradient(top, #2f2f2f, #1e1f1f 50%, #0c0c0c 51%, #000); 
}


/* Status Board Date */
#wthn-date {
	text-align: center;
	margin: 40px 0;
}


/* wtnh-welcome-widget */
#wtnh-welcome-message {
	font-size: 3.0em; 
	text-align: center;
	min-height: 150px;
}

/*WordPress CSS Styles */
#wtnh-welcome-message img.alignright {
	/* float:right; */
}
#wtnh-welcome-message img.alignleft {
	/* float:left; */
}





/* Brirthdays / Ann  and TV Schedule*/
#wtnh-birthday-calendar h3 {
	color:red;
}
#wtnh-birthday-calendar .station-ann {
	color: red;
}
#wtnh-birthday-calendar .id {
	color: red;
	display: block;
}






/* Google Calendar */
#wtnh-google-calendar {
	text-align:left;
	margin-bottom:10px;
}

.cal-event {
	padding-bottom:8px;
}

.cal-event .title {
	color:red;
	display:block;
}





/* carousel-wtnh-photos */
#carousel-wtnh-photos {
	margin:0 auto;
}

#carousel-wtnh-photos img {
	margin:0 auto;
	/* max-width: 100%; height: auto; */
	/* max-height: 405px; */
	/*
	max-height: 405px;
	max-width: 720px;
	*/
	max-height: 480px;
	
}






/* Twitter twitcker */
div#twitcker-marquee a {
	font-size:2em!important;
}

div#twitcker-toggler {
	display:none;
}