body {
	/* padding-top: 50px; */
	/* font-weight: 200; */
	/* font-size: 21px; */
	/* background:#000; */
	   background-image: url('../imgs/er3UC5.png');
	   color:#fff;
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* font-size: 21px; */
	/* line-height: 1.4; */
	/* margin-bottom: 20px;*/
}

.container {
	max-width:100%;
}

.statusboard {
	/* padding: 40px 15px; */
	/* border: 1px #fff solid; */
}

/* .col-lg-4 {border: 1px red solid; background-color: grey; margin; 10px;} */
.col-lg-5, .col-lg-4, .col-lg-3 {
	/* padding: .5em; */
	color:#fff;
	text-shadow:1px 1px 1px #000;
	/*
	border: solid thin #882d13;
	
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	
	-webkit-box-shadow: 2px 2px 3px #999; 
	
	box-shadow: 2px 2px 2px #bbb;
	background-color: #ce401c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
	*/
}

/* Weather Widget */
#wtnh-weather-widget h4 {
	color:red;
}

#weather-widget {
	text-align:left;
}

div.weatherItem {
	background-position:right;
}

/* wtnh-welcome-widget */
#wtnh-welcome-widget {
	font-size: 3.0em; 
}

#wtnh-welcome-widget h4 {
	color:red;
}

/*WordPress CSS Styles */
#wtnh-welcome-widget img.alignright {
	float:right;
}

#wtnh-welcome-widget img.alignleft {
	float:left;
}

/* Brirthdays / Ann */
.station-ann {
	font-size: 1.4em;
	color: red;
	
}

/* wtnh-sch-widget */
#wtnh-sch-widget {
	font-size:.9em;
}

#wtnh-sch-widget h4 {
	color:red;
}

/* Google Calendar */
#wtnh-google-calendar {
	text-align:left;
	margin-bottom:10px;
}

.cal-event {
	padding-bottom:8px;
}

.cal-event .title {
	color:red;
	display:block;
}

/* carousel-wtnh-photos */
#carousel-wtnh-photos {
	margin:0 auto;
}

#carousel-wtnh-photos img {
	margin:0 auto;
	/* max-width: 100%; height: auto; */
	/* max-height: 405px; */
	/*
max-height: 405px;
	max-width: 720px;*/
}

/* Chartbeat JS Widget */
#topStories {
	padding:0;
}

#topStories li {
	font-size:16px;
	list-style:none;
}

/* Twitter twitcker */
/*
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/
div#twitcker-marquee a {
	font-size:2em!important;
}

div#twitcker-toggler {
	display:none;
}